*.DS_Store
*.jl.cov
*.jl.*.cov
*.jl.mem
docs/build/
docs/site/
src/**/Manifest.toml
deps/deps.jl
*.ipynb_checkpoints/
*.vtk
*.dat
*.vtu
*.pvtu
*.swp
*.png
*.nc
!docs/src/assets/*.png
*.jpg
!pics/*.png
!pics/*.jpg
*~
TAGS
