# Temporary
*~
*.DS_Store
*.ipynb_checkpoints/
*.jl.cov
*.jl.*.cov
*.jl.mem
*.swp
.vscode/*
TAGS

# Docs
docs/build/
docs/site/
docs/src/tutorials/
docs/src/generated/

# Deps
#Manifest.toml
#!docs/Manifest.toml

# Data
*.csv
*.dat
*.nc
*.pvtu
*.vtk
*.vtu

# Figs
*.jpeg
*.jpg
*.png
*.svg
!docs/src/assets/*.ico
!docs/src/assets/*.png
!docs/src/assets/*.svg
!pics/*.jpg
!pics/*.png
