# Temporary
*.DS_Store
*.swp
*.jl.cov
*.jl.*.cov
*.jl.mem
*~
TAGS
*.ipynb_checkpoints/
.vscode/*

# Docs
docs/build/
docs/site/
docs/src/tutorials/
docs/src/generated/
!docs/src/assets/*.png
!docs/src/assets/*.svg

# Deps
src/**/Manifest.toml

# Data
*.csv
*.vtk
*.dat
*.vtu
*.pvtu
*.nc

# Figs
*.png
*.jpg
*.jpeg
*.svg
!pics/*.png
!pics/*.jpg
