---
name: CLA Workflow

permissions:
  contents: write
  checks: write
  actions: write
  pull-requests: write

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - staging
      - main

jobs:
  cla:
    uses: ec-intl/workflow-templates/.github/workflows/cla_template.yml@main
    secrets: inherit
